p{
    font-size: xx-large;
    line-height: 3em;
}
button{
    padding:2em;
    width: 15%;
    height:2%;
    outline:none;
    border:none;
    border:2px solid cyan;
    background:none;
    color:cyan;
    font-size:1em;
}
body{
    color:rgb(67, 230, 230);
    background-color:#000;   
}
h1{
    color:teal;
}