.form{
    position: relative;
    display:inline-block;
    border:none;
    padding:2%;
    margin:0%;
    outline:none;
    font-size:1em;
}
form{
    font-size:1.5em;
}
h2{
    color:red;
}
button{
    padding:10px 15px;
}